<div *ngIf="jsonData">
    <h1>
        {{ jsonData.headline }}!
    </h1>
    <mat-form-field>
        <input matInput [(ngModel)]="searchKeyword" 
            placeholder="Type something in the input field to search Name, Description">
    </mat-form-field>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col" *ngFor="let col of displayColumns" (click)="sortHeaderClick(col)"
                    [ngClass]="{ 'sorting': isSorting(col), 'sorting_asc': isSortAsc(col), 'sorting_desc': isSortDesc(col) }">{{col | titlecase}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pagedItems | customFilters: searchKeyword">
                    <td scope="row">{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td id="truncate" 
                    style="max-width: 470px;display: block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{item.description}}</td>
                    <td>{{item.date | date}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="pager.pages && pager.pages.length" class="pagination">
            <span [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(1)" style="font-size: 1px;">
                <mat-icon class="backNav">double_arrow</mat-icon>
            </span>
            <span [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)" style="font-size: 1px;">
                <mat-icon>arrow_back_ios</mat-icon>
            </span>
            <span [ngClass]="{active:pager.currentPage === page}" *ngFor="let page of pager.pages"
                (click)="setPage(page)">{{page}}</span>
            <span [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
                (click)="setPage(pager.currentPage + 1)" style="font-size: 1px;">
                <mat-icon>arrow_forward_ios</mat-icon>
            </span>
            <span [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.totalPages)" style="font-size: 1px;">
                <mat-icon>double_arrow</mat-icon>
            </span>
        </div>
    </div>

</div>